<ion-view view-title="Nova Lista">
  <ion-content>
  	<div class="list">

      	<label class="item item-input">
        	<input type="text" placeholder="Supermercado">
      	</label>

      	<label class="item item-input">
        	<input type="date" placeholder="Dia da Compra">
      	</label>

      	<label class="item item-input">
        	<textarea placeholder="Comentários"></textarea>
      	</label>

      	<button type="submit" class="button button-block" style="color: #4682B4;">
        	Salvar
      	</button>
    </div>
  </ion-content>
</ion-view>
