/* Empty. Add your own CSS if you like */

/* My own CSS */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

html {
    height: 100%;
}

body {
    background: url("http://species-in-pieces.com/img/bg/grad-bg.png") no-repeat center center/cover #F9D8AD;
    height: 100%;
}

.fa {
    font-size: 20px;
}

.fa-info {
    color: white;
}

#container {
    width: 330px;
    height: 508px;
    max-width: 330px;
    background: white;
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    transform: translate3d(-50%, -50%, 0);
}

h2 {
    padding: 20px;
    color: white;
    background: #4682B4;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.detail {
    color: #777;
    padding: 20px;
    line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.img-wrapper {
    padding: 0;
    position: relative;
}

.img-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(62, 79, 178, .25);
    width: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    display: block;
    position: relative;
}

.button-wrapper-custom {
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    right: 20px;
    bottom: 20px;
}

.button-custom {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    z-index: 9;
    position: relative;
}

.main-button {
    background: #ff2670;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.ripple {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
    z-index: -9;
    background: transparent;
    border: 1px solid #ff2670;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 1;
}

.rippling {
    -webkit-animation: .3s rippling 1;
    animation: .3s rippling 1;
    -moz-animation: .3s rippling 1;
}

@-webkit-keyframes rippling {

    25% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }

}

@-moz-keyframes rippling {

    25% {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }

}

@keyframes rippling {

    25% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }

}

.layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #ff2670;
    border-radius: 50%;
    z-index: -99;
    pointer-events: none;
}

.button-wrapper.clicked {
    -webkit-transform: rotate(90deg) translateY(-96px);
    -ms-transform: rotate(90deg) translateY(-96px);
    transform: rotate(90deg) translateY(-96px);
    right: 0;
    bottom: 0;
    -webkit-transition: .3s all ease .6s;
    transition: .3s all ease .6s;
}

.button-wrapper.clicked .main-button {
    opacity: 0;
    -webkit-transition: .3s all ease .3s;
    transition: .3s all ease .3s;
}

.button-wrapper.clicked .layer {
    -webkit-transform: scale(100);
    -ms-transform: scale(100);
    transform: scale(100);
    -webkit-transition: 2.25s all ease .9s;
    transition: 2.25s all ease .9s;
}

.layered-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
}

.layered-content.active {
    opacity: 1;
}

.close-button {
    background: white;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ff2670;
}

.layered-content.active .close-button {
    -webkit-animation: .5s bounceIn;
    animation: .5s bounceIn;
}

.layered-content .content img {
    width: 80px;
    -webkit-shape-outside: 80px;
    shape-outside: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.content p {
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.content p a {
    font-size: 12px;
    background: white;
    padding: 2.5px 5px;
    color: #ff2670;;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    margin-left: 1.5px;
}

.content img,
.content p {
    opacity: 0;
    position: relative;
    top: -7.5px;
}

.layered-content.active .content img {
    opacity: 1;
    top: 0;
    -webkit-transition: .5s all ease .5s;
    transition: .5s all ease .5s;
}

.layered-content.active .content p {
    opacity: 1;
    top: 0;
    -webkit-transition: .5s all ease 1s;
    transition: .5s all ease 1s;
}

.copyright {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-family: "Roboto";
}
.copyright span {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 10px;
  font-weight: 300;
}
.copyright span a {
  font-weight: 400;
  text-decoration: none;
  color: #ea4c89;
}
.copyright .balapa {
  width: 30px;
  height: 30px;
  display: block;
  background: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/111167/profile/profile-80_3.jpg");
  background-size: cover;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  float: right;
}

.bar-listup {
    background: #4682B4; /*steel blue*/
    color: #fff;
    background-image: url('img/BackgroundAzul2x.png');
}

.main-title {
    color: #4682B4;
    font-size: 70px;
}

.sidemenu-profile {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 80px;
}

.sidemenu-profile .profile-content {
    background: transparent;
}

.sidemenu-profile-img {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

.sidemenu-profile-name {
    font-size: 23px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.sidemenu-profile-greetings {
    text-align: right;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    margin: 10px;
    float: center;
}

/**/
.centered {
    text-align: center;
}

#map_canvas {
    height: 250px;
    width: 100%;
}

.angular-google-map-container {
    height: 250px;
    width: 100%;
}

.item-note-gb {
    float: right;
    font-size: 14px;
}

.custom-icon {
    color: #FFC900 !important;
}

.bar .button.back-button {
    color: #fff;
}

.no-favorites {
    color: grey;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.custom-share-button {
    color: #fff !important;
}

/*
Override
Sobrescrevendo item para quebrar linha automaticamente
*/

.item {
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
}


/*
App Design classes
*/

.bar-dwguiabase {
    background: #59BFE2;
    color: #fff;
}

.main-background {
    background-color: #e8e8e8;
}

.category-list-item {
    background-color: #F7F7F7 !important;
}

.icon .category-list-item-arrow-right {
    width: 10px;
}

.category-list-item-name {
    line-height: 2.2777;
    font-size: 18px;
    color: grey;
}

.filter-background {
    background-color: #e8e8e8;
}

.filter-done-button {
    background-color: #7CB5DC !important;
    border-radius: 25px !important;
    color: #fff !important;
}
.filter-done-button-red{
    background-color: rgba(228, 32, 18, 0.44) !important;
    border-radius: 25px !important;
    color: #fff !important;
}
.filter-list {
    margin: 20px 10px!important;
}

.filter-list-item {
    background-color: #F7F7F7!important;
    color: grey!important;
}

.sidemenu-background {
    background-image: url("img/BackgroundAzul@2x.png");
}

.sidemenu-padding-top {
    padding-top: 25px;
}

.sidemenu-item {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 17px;
}

.sidemenu-item .item-content {
    background: transparent;
}

.sidemenu-item-img {
    float: left;
    width: 40px;
    text-align: center;
}

.sidemenu-item-title {
    line-height: 2;
    margin-left: 23%;
}

.entity-list-search {
    background-color: #5D91BC !important;
    padding: 15px;
}

.entity-list-search-input {
    border-radius: 20px;
    height: 30px;
}

.entity-list-item {
    background-color: #F7F7F7 !important;
}

.icon .entity-list-item-arrow-right {
    width: 10px;
}

.entity-list-item-name {
    font-size: 18px;
    color: grey;
}

.entity-list-item-status {
    font-size: 12px !important;
    color: #c0c0c0 !important;
}

.entity-list-item-distance {
    font-size: 13px !important;
    margin-right: 15px;
}

.entity-details-background {
    background-color: #E3E9E9;
}

.entity-details-address {
    background-color: #F7F7F7;
}

.entity-details-button-navigate {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.entity-details-button-navigate-image {
    width: 25px;
    vertical-align: middle;
}

.entity-details-button-show-more-image {
    vertical-align: middle;
    width: 30px;
}

.entity-details-show-more {
    color: #3B80B1;
    display: block;
}

.entity-details-address-pin {
    width: 25px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.entity-details-address-name {
    color: grey;
    font-size: 12px;
    display: inline;
}

.entity-details-icons {
    width: 25px;
}

.entity-details-font {
    color: grey;
    font-size: 14px;
    display: inline;
    line-height: 1.8;
}

.entity-details-icon-blue-phone {
    width: 25px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.entity-details-button-phone {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.entity-details-favorite-button {
    background-color: #7CB5DC !important;
    border-radius: 25px !important;
    color: #fff !important;
    position: relative !important;
    left: 50%;
    transform: translateX(-50%);
}

.item-contact-input {
    background-color: #C4CBCE !important;
    border-radius: 25px;
}

.item-contact-input-textarea {
    background-color: #C4CBCE !important;
    margin-right: 15px;
    color: white;
}

.item-contact-input-text {
    color: white !important;
}

.contact-text {
    border: 0;
    color: grey;
}

#contactName::-webkit-input-placeholder,
#contactEmail::-webkit-input-placeholder,
#contactPhone::-webkit-input-placeholder,
#contactMessage::-webkit-input-placeholder {
    color: white !important;
}

.contact-send-button {
    width: 70px;
}

.contact-button {
    border: none;
    background-color: white;
}

.contact-button:active {
    border: none;
    background-color: white;
}

label a:link {
    text-decoration: none;
    color: grey;
}

.loading {
    background-color: transparent !important;
}

